
$color: (
  primary: #4069cc,
  hover: #e4e4e4,
  label: #2c3e50,
  danger: #ff0000,
  modal: #f9f9f9,
  thead: #151C26c4,
  input_border: #c750501c,
  input_background: #f5ca8917,
  input_shadow: #a0a0a0,
);

$color-white: #ffffff;
$color-green: #78da46;

